.sorticons{
    border:none;
    padding:5px 0px;
    background:none;
    width:20px;
    height:20px;

}
.sorticons img{
   width:100%;
    display:none;
}
#container{
    margin:10px 0;
}
table{
    font-size:11px;

}

.button{
    padding:10px;
    font-size:11px;
    border:none;
}
td{
    padding:5px;
}
.notMobile{
    display:none;
}

#container nav li a:hover, input[type='submit']:hover, .button:hover{
    border:none;
}
.grid_mob_1,.grid_mob_2,.grid_mob_3,.grid_mob_4, .grid_mob_5, .grid_mob_6, .grid_mob_7, .grid_mob_8, .grid_mob_9, .grid_mob_10, .grid_mob_11, .grid_mob_12{
    display:inline-block;
    position:relative;
    min-height: 1px;
    float:left;
    padding:0 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid_mob_12{
    width:100%;
}
.grid_mob_6{
    width:50%;
}