.sorticons{
    padding:5px;

}

thead th{
    font-size:12px;

}
table{
    font-size:12px;
}
#container nav li a, input[type='submit'], .button{
    padding:10px 25px;
}


.grid_dt_1,.grid_dt_2,.grid_dt_3,.grid_dt_4, .grid_dt_5, .grid_dt_6, .grid_dt_7, .grid_dt_8, .grid_dt_9, .grid_dt_10, .grid_dt_11, .grid_dt_12{
    display:inline-block;
    position:relative;
    min-height: 1px;
    float:left;
    padding:0 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid_dt_12{
    width:100%;
}
.grid_dt_6{
    width:50%;
}
.btn_pencil{
    background-image: url('../images/admin/pencil_2.png');

}
.btn_delete{
    background-image: url('../images/admin/bin_delete.png');

}

.showMenu{
   display:none;
}