@-webkit-keyframes navHover {
    0%   { background: #000; color:#fff;}
    100% { background: #fff; color:#000;}
}
@-moz-keyframes navHover {
    0%   { background: #000; color:#fff;}
    100% { background: #fff; color:#000;}
}
@-o-keyframes navHover {
    0%   { background: #000; color:#fff;}
    100% { background: #fff; color:#000;}
}
@keyframes navHover {
    0%   { background: #000; color:#fff;}
    100% { background: #fff; color:#000;}
}

@-webkit-keyframes sortIconASC {
    0%   { padding-top:5px;padding-bottom:5px;background:#ccc;}
    100% { padding-top:2px;padding-bottom:8px;background:#ddd;}
}
@-moz-keyframes sortIconASC {
    0%   { padding-top:5px;padding-bottom:5px;background:#ccc;}
    100% { padding-top:2px;padding-bottom:8px;background:#ddd;}
}
@-o-keyframes sortIconASC {
    0%   { padding-top:5px;padding-bottom:5px;background:#ccc;}
    100% { padding-top:2px;padding-bottom:8px;background:#ddd;}
}
@keyframes sortIconASC {
    0%   { padding-top:5px;padding-bottom:5px;background:#ccc;}
    100% { padding-top:2px;padding-bottom:8px;background:#ddd;}
}

@-webkit-keyframes sortIconDESC {
    0%   { padding-top:5px;padding-bottom:5px;background:#ccc;}
    100% { padding-top:8px;padding-bottom:2px;background:#ddd;}
}
@-moz-keyframes sortIconDESC {
    0%   { padding-top:5px;padding-bottom:5px;background:#ccc;}
    100% { padding-top:8px;padding-bottom:2px;background:#ddd;}
}
@-o-keyframes sortIconDESC {
    0%   { padding-top:5px;padding-bottom:5px;background:#ccc;}
    100% { padding-top:8px;padding-bottom:2px;background:#ddd;}
}
@keyframes sortIconDESC {
    0%   { filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
    }
    100%   { filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);}
}
@-webkit-keyframes ConfirmBoxIn{
    0%   { filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
    }
    100%   { filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);}

}
@-moz-keyframes ConfirmBoxIn{
    0%   { filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
    }
    100%   { filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);}

}
@-o-keyframes ConfirmBoxIn{
    0%   { filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
    }
    100%   { filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);}

}