.grid_mob_1,.grid_mob_2,.grid_mob_3,.grid_mob_4,.grid_mob_5,.grid_mob_6,.grid_mob_7,.grid_mob_8,.grid_mob_9,.grid_mob_10, .grid_mob_11, .grid_mob_12{
    float:left;

}
.grid_mob_1{
    width:8.333333%;
}
.grid_mob_2{
    width:16.666666%;
}
.grid_mob_3{
    width:25%;
}
.grid_mob_4{
    width:33.333333%;
}
.grid_mob_5{
    width:41.666666%;
}
.grid_mob_6{
    width:50%;
}
.grid_mob_7{
    width:58.333333%;
}
.grid_mob_8{
    width:66.666666%;
}
.grid_mob_9{
    width:75%;
}
.grid_mob_10{
    width:83.333333%;
}
.grid_mob_11{
    width:91.666666%;
}
.grid_mob_12{
    width:100%;
}
@media screen and (min-width: 650px) {
    .grid_med_1,.grid_med_2,.grid_med_3,.grid_med_4,.grid_med_5,.grid_med_6,.grid_med_7,.grid_med_8,.grid_med_9,.grid_med_10, .grid_med_11, .grid_med_12{
        float:left;

    }
    .grid_med_1{
        width:8.333333%;
    }
    .grid_med_2{
        width:16.666666%;
    }
    .grid_med_3{
        width:25%;
    }
    .grid_med_4{
        width:33.333333%;
    }
    .grid_med_5{
        width:41.666666%;
    }
    .grid_med_6{
        width:50%;
    }
    .grid_med_7{
        width:58.333333%;
    }
    .grid_med_8{
        width:66.666666%;
    }
    .grid_med_9{
        width:75%;
    }
    .grid_med_10{
        width:83.333333%;
    }
    .grid_med_11{
        width:91.666666%;
    }
    .grid_med_12{
        width:100%;
    }
}
@media screen and (min-width: 800px) {
    .grid_lrg_1,.grid_lrg_2,.grid_lrg_3,.grid_lrg_4,.grid_lrg_5,.grid_lrg_6,.grid_lrg_7,.grid_lrg_8,.grid_lrg_9,.grid_lrg_10, .grid_lrg_11, .grid_lrg_12{
        float:left;

    }
    .grid_lrg_1{
        width:8.333333%;
    }
    .grid_lrg_2{
        width:16.666666%;
    }
    .grid_lrg_3{
        width:25%;
    }
    .grid_lrg_4{
        width:33.333333%;
    }
    .grid_lrg_5{
        width:41.666666%;
    }
    .grid_lrg_6{
        width:50%;
    }
    .grid_lrg_7{
        width:58.333333%;
    }
    .grid_lrg_8{
        width:66.666666%;
    }
    .grid_lrg_9{
        width:75%;
    }
    .grid_lrg_10{
        width:83.333333%;
    }
    .grid_lrg_11{
        width:91.666666%;
    }
    .grid_lrg_12{
        width:100%;
    }
}