*{margin:0;padding:0;outline:0;}
html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.1;
    color: #333;
    background-color: #222;
}
a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
}
a:active,
a:hover,
a:focus{
    outline: 0;
    color: #23527c;
    text-decoration: underline;

}
#LoginContainer{
    background:#fff;
    position:absolute;
    top:30%;
    left:50%;
    width:300px;
    padding:10px;
    margin-left:-170px;
    border-radius:10px;
    -webkit-animation: ConfirmBoxIn 2s 1; /* Safari 4+ */
    -moz-animation:    ConfirmBoxIn 2s 1; /* Fx 5+ */
    -o-animation:      ConfirmBoxIn 2s 1; /* Opera 12+ */
    animation:         ConfirmBoxIn 2s 1; /* IE 10+, Fx 29+ */

}
h1{
    color:#333;
    font-size:18px;
    text-align:center;
    margin:5px;

}
#LogMeIn{
    width:150px;
    display:inline-block;
}
.rememberMe{width:150px;display:inline-block;margin:5px 0;}
.field{
    position:relative;
    display:block;
}
.errors{
    background:#ff968e;
    color:#3f0809;
    padding:10px;
    border-radius:10px;
    border:1px solid;
    margin:5px 0;
}
.field label{
    font-size: 11px;
    position: absolute;
    top: -6px;
    background:#fff;
    left: 10px;
    color: #f14500;

}

.error{
    border:1px solid #c00 !important;
}

input[type="password"],input[type="text"],input[type="email"]{
    padding:20px 10px;
    border-radius:10px;
    width:278px;
    outline:none;
    border:1px solid #ccc;

}
input[name='username']{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top:5px;
}input[name='email'],input[name='passwordagain']{
     border-radius:0;
     border-top:none;

 }input[name='password']{
     border-top-left-radius: 0;
     border-top-right-radius: 0;
    border-top:none;
 }
@-webkit-keyframes ConfirmBoxIn{
    0%   { filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
    }
    100%   { filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);}

}
@-moz-keyframes ConfirmBoxIn{
    0%   { filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
    }
    100%   { filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);}

}
@-o-keyframes ConfirmBoxIn{
    0%   { filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
    }
    100%   { filter: blur(0px);
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);}

}
input[type="submit"]{
    display:inline-block;
    padding:10px 25px;
    border-radius:10px;
    font-size:12px;
    width:300px;
    margin-top:5px;
    color:#000;
    text-decoration: none;
    background: #ffffff;
    border:2px solid #f6f6f6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    cursor:pointer;
}