*{margin:0;padding:0;outline:0;}
body{
    margin:0;
    padding:0;
    background: #292929;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:90%;
}
header {
    background:#292929 url('../images/navbg.jpg') repeat-x;
    height:56px;
    width:100%;
}
#logo{
    float:left;
    margin:7px 0px 7px 7px;
}
#logo a{
    text-indent: -9999px;
    background:transparent url('../images/logo.png') no-repeat;
    width:140px;
    height:30px;
    display:block;
}
#overlay{
    background:#000;
    width:100%;
    height:100%;
    opacity:0;
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:200;

}
#navigation{
    height: 100%;
    position: fixed;
    top: 0px;

    left: -301px;
    opacity: 0;
    width: 300px;
    background:#242424;
    border-right:1px solid #111;
    z-index:99999;
}
#navigation ul{list-style:none;}
#navigation li{
    width:100%;

}
#navigation li a{
    background:#222;
    display:block;
    color:#fff;
    text-shadow:1px 1px #000;
    padding:13px;
    text-decoration: none;
    border-bottom:1px solid #111;
}
#navigation #closeMenu a{
    text-align:center;
    background-image:url('../images/leftarrow.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}
#showMenu{
    background: #000 url('../images/moreMenu.png') no-repeat center;
    display: block;
    float:left;
    height: 44px;
    width: 60px;
}
.notMobile{display:none;}
.clear{clear:both;}

#container{
    width:98%;
    margin:10px 1%;
}
#container h1{
    font-size:22px;
    color:#ddd;
    text-shadow:0px 0px 5px #000;
}
.box{
    background:#000;
    color:#fff;
    margin:5px;
    font-size:12px;
    text-align:center;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}
.box img{
    width:100%;
    height:auto;
}
@media screen and (min-width: 650px) {
    .notMobile{display:inline-block !important;}
    #showMenu{display:none}
    #logo{margin-left:1%;}
    #navigation #closeMenu{display:none;}
    #navigation{
        height: 100%;
       position:static;
        display:block;
        opacity:1;
        width: 495px;
        background:none;
         border:none;
        float:right;
        margin-right:1%;
    }
    #navigation li{
        width:99px;
        float:left;
    }
    #navigation li a{
        display:block;
        color:#ff8a00;
        padding:13px 0;
        text-shadow:1px 1px #440000;
        font-weight:bold;
        text-align:center;
        border:none;
        background:transparent url("../images/splitternav.png") no-repeat right;
    }
    #navigation li a:hover{
        color:#fff;
    }
    #navigation li:last-child a{
        background:none;
    }

}
@media screen and (min-width:800px){
    #navigation{
        margin-right:5%;
    }
    #logo{margin-left:5%}
    #container{
        width:90%;
        margin:10px 5%;
    }

}