header{height:60px;padding:0;width:100%;}
#logo{
    margin-left:0px;

}
#searchEvent .section{
    padding:5px 0;
    width:100%;
    margin:0;
}
#searchEvent{
    border-radius:0px;
    margin:0;
    width:90%;
    padding:0 5%;
}
#searchEvent h3{
    font-size:14px;
    width:25%;
    float:left;
    display:inline-block;
    padding-top:10px;
}
#searchEvent input[type="text"]{
    width:65%;
    float:left;
    display:inline-block;
}

.notMobile{
    display:none;
}
nav{
    height:100%;
    position:absolute;
    top:61px;
    left:-1000px;
    opacity:0;
    width:80%;
    border-right:1px solid #044d93;
}
nav li{
    width:100%;

}
nav li a{
    border-bottom:1px solid #044d93;
}
.showMenu{
    background: #000 url('../images/menushow.png') no-repeat center;
    display: block;
    float: left;
    height: 100%;
    width: 60px;
    margin: 0 25px 0 0px;
}